body{
    margin: 0;
}
canvas {
    display: block;
    background:bisque;
}
.click-space{
    position: fixed;
    bottom: 0;
    left: 0;
}
.actions > #painter {
    display: none;
}
.actions.x > #painter {
    display: inline-block;
}
.actions.x > #eraser{
    display: none;
}