.loading{
  width: 200px;
  height: 200px;
  position: relative;
}

.loading::before, .loading::after{
  content:'';
  position: absolute;
  width: 0px;
  height: 0px;
  background: black;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  animation: s 1.5s linear infinite;
}
 .loading::after{
  animation-delay: 0.75s;
}
@keyframes s{
  0%{
    width: 0px; height:0px; opacity: 1;
  }
  100%{
    width: 100px; height:100px; opacity: 0;
  }
}

body {
  background: #efefef;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
}
hr{
  height: 0;
  border: none;
  border-top: 1px solid #DEDEDE;
}
li{
  list-style: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}


.topNavBar.sticky{background: white;padding: 10px 0; color: black;}

.topNavBar {
  color: #b7b7b7;
  padding: 20px 0 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;
  z-index: 1;
}
.topNavBar.sticky{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.topNavBar-inner {
  padding: 0 16px;
}
.topNavBar nav {
  padding-top: 5px;
}
.topNavBar nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topNavBar nav > ul > li {
  float: left;
  margin-left: 17px;
  margin-right: 17px;
  position: relative;
}
.topNavBar .submenu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background: #fff;
  color: #3d4451;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.topNavBar li.active> .submenu{
  display: block;
  animation: submenuSlide 0.3s;
}
@keyframes submenuSlide{
  0%{
    margin-right: 100%;
  }
  100%{
    margin-right: 0%;
  }
}

.topNavBar .submenu >li{
  white-space: nowrap;
  padding: 5px 10px;
}



.topNavBar nav > ul > li > a {
  font-size: 12px;
  color: inherit;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  position: relative;
}
.topNavBar nav > ul > li.active > a::after,
.topNavBar nav > ul > li.highLight > a::after{
  content: '';
  /* display: block; */
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #e06567;
  height: 3px;
  animation: menuSlide 0.25s;
}

@keyframes menuSlide{
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}

/* .topNavBar nav > ul > li > a:hover {
  border-bottom: 3px solid #e06567;
  transition: all 0.5s;
} */

.topNavBar .logo {
  font-size: 24px;
  font-family: 'Arial Black';
  padding-top: 3px;
  padding-bottom: 4px;
}
.topNavBar .logo .rs {
  margin-right: 4px;
  color: #e6686a;
}
.topNavBar .logo .card {
  color: #9a9da2;
}
.banner {
  height: 515px;
  background-image: url(./img/rs-cover.jpg);
  background-position: center center;
  background-size: cover;
}
.banner .mask {
  height: 515px;
  background-color: rgba(0, 0, 0, 0.8);
}

.userCard {
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.42);
  margin-top: -350px;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}
.userCard .welcome {
  background: #e6686a;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
}
.userCard .welcome .triangle {
  display: block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #e6686a;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}
.userCard .picture {
  float: left;
}
.userCard .text {
  float: left;
  margin-left: 65px;
  width: 470px;
}
.userCard .text h1{
  margin-top: 18px;
}
.userCard .text hr{
  margin: 20px 0;
}
.userCard .pictureAndText {
  padding: 50px;
}
.userCard dl dt,
.userCard dl dd{
  float: left;
  padding: 5px 0;
}
.userCard dl dt{
  width: 30%;
  font-weight: bold;
}
.userCard dl dd{
  width: 70%;
  color: #9da0a7;
}

.userCard > footer.media{
  background: #E6686A;
  text-align: center;
}
.userCard > footer.media > a{
  display: inline-block;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  border-radius: 50%;
  margin: 16px;
}
.userCard > footer.media > a:hover{
  background: #CF5D5F;
}
.userCard svg{
  width: 30px;
  height: 30px; 
  fill: white;
  vertical-align: top;
}


.button-out{
  text-align: center;
  margin-top: 30px;
}
.button{
  border: 1px solid gray;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 30px;
}
.button:hover{
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.42);
  transition: 0.3s;
}
.intro{
  text-align: center;
  margin-bottom: 40px;
}
.intro p{
  font-size: 18px;
}
section{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
section h2{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
section > .skills-top{
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.42);
  background-color: #fff;
}
section > .skills-top  h3{
  font-weight: normal;
  font-size: 15px;

}
ol{
  list-style: none;
}
section > ol {
  padding: 42px 50px 15px;
}
section .progressBar{
  height: 5px;
  background-color: #e6a6a7;
  border-radius: 2px;
  margin: 4px 0px 40px;
}
section .progressBar .progress{
  height: 100%;
  width: 30%;
  background-color: #e6686a;
  border-radius: 2px;
}
section > ol > li{
  float: left;
  width: 48%;
  box-sizing: border-box;
}
section > ol > li:nth-child(even){
  float: right;
}
section >nav >ol > li{
  float: left;
  margin-left: 40px;
  cursor: pointer;
}
section >nav >ol > li:nth-child(1){
  margin-left: 0px;
}
.portfolio{
  text-align: center;
}
section >nav{
  text-align: center;
}
section >nav >ol{
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
section >nav{
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
}
section >nav .bar{
  height: 5px;
  background-color: #fff;
  border-radius: 2px;
}
section >nav .bar .bar-inner{
  height: 100%;
  background-color: #ee6666;
  border-radius: 2px;
  transition: all 0.3s;
}
section >nav .bar.state1 .bar-inner{
  margin-left: 0;
  width: 15%;
}
section >nav .bar.state2 .bar-inner{
  margin-left: 64px;
  width: 20%;
}
section >nav .bar.state3 .bar-inner{
  margin-left: 140px;
  width: 40%;
}
.works{
  position: relative;
}
.works > .big,
.works > .small{
  position: absolute;
}